<div class="container">
  <h3 class="text-center mt-4">Add New Category</h3>
  <!-- Add New Category Form -->
  <form
    class="mt-5"
    #myForm="ngForm"
    (ngSubmit)="handleSubmit(myForm)"
    enctype="multipart/form-data"
  >
    <div class="form-group mt-3">
      <input
        type="text"
        class="form-control input-box w-50 text-center m-auto mb-1"
        id="newCategory"
        name="newCategory"
        placeholder="Enter category name"
        ngModel
        required
      />
    </div>

    <div class="form-group mt-3">
      <input
        type="file"
        class="form-control input-box w-50 text-center m-auto"
        id="categoryImage"
        name="categoryImage"
        accept="image/*"
        (change)="onFileSelected($event)"
        required
      />
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-secondary d-block m-auto w-25 mt-3 mb-5"
      >
        Add Category
      </button>
    </div>
  </form>
  <div *ngIf="errorMessage" class="text-center">
    <p class="text-danger" style="font-size: 1.05rem; font-weight: bold">
      {{ errorMessage }}
    </p>
  </div>

  <h3 class="text-center mt-4">Get All Categories</h3>
  <!-- Categories Table -->
  <div class="table-responsive">
    <table class="table custom-table mt-3">
      <thead>
        <tr class="text-center">
          <th class="text-left align-middle">Name</th>
          <th class="text-left align-middle">Image</th>
          <th class="text-left align-middle">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through displayedCategories instead of myCategories -->
        <tr *ngFor="let category of displayedCategories" class="text-center">
          <!-- Display category details -->
          <td class="text-left align-middle">{{ category.categoryName }}</td>
          <td class="text-left align-middle">
            <img
              [src]="category.categoryImage"
              alt="{{ category.categoryName }}"
              style="max-width: 100px; max-height: 100px"
            />
          </td>
          <td class="text-left align-middle">
            <!-- Add your actions buttons here -->
            <button
              class="btn btn-danger mt-2 action-button"
              (click)="handleDelete(category._id)"
            >
              <i class="fas fa-trash"></i>
              <!-- Font Awesome delete icon -->
            </button>
            <!-- Add your actions buttons here -->
            <button
              class="btn btn-danger ms-4 mt-2 action-button"
              (click)="handleEdit(category, myForm)"
            >
              <i class="fa fa-pen"></i>
              <!-- Font Awesome delete icon -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Buttons -->
  <div class="pagination-controls text-center">
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary" (click)="previousPage()">
          Previous
        </button>
      </div>
      <div class="col">
        <span class="mx-3">Page {{ currentPage }} of {{ totalPages }}</span>
      </div>
      <div class="col">
        <button class="btn btn-secondary" (click)="nextPage()">Next</button>
      </div>
    </div>
  </div>
</div>
